/* General rules */

serif {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}
h3,
h4 {
    margin: 4%;
    font-size: 1.2em;
}
body {
    font-size: 1.25em;
}
p {
    margin: 7%;
}
img {
    max-width: 100%;
    padding-bottom: 3%;
    padding-top: 3%;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
.container {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
/* Nav */
.main-nav ul li {
    margin: 2%;
    padding: 2%;
}
nav ul {
    padding: 0;
}
nav li {
    font-size: 1.2em;
    font-weight: bold;
}
/* main content */
.top-pad {
    padding-top: 3%;
}
.margin {
    margin: 7%;
}
.title {
    margin: 7%;
    font-size: 1.2em;
}

.main-footer {
    margin: 7%;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}
@media (min-width: 1024px) {
    .flex-container {
        flex-direction: column;
    }
}
